*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title {
  color: darkblue;
}

.addBtn {
  margin-top: 2rem;
  background: darkblue;
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  justify-self: flex-end;
  cursor: pointer;
}

.tasks{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.task{
  border: 2px solid darkblue;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  min-width: 50vw;
  display: flex;
  justify-content: space-between;
}

.task-details{
  min-width: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.check {
  width: 0.9rem;
  height: 0.9rem;
}